@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container {
  background: #171717;
  color: #fff;
  padding: 2rem;
  width: 60%;
  margin: 4rem auto;
  border-radius: 10px;
}
.weather__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input {
  border: none;
  background: #2e2e2e;
  outline: none;
  color: #fff;
  padding: 0.5rem 2.5rem;
  border-radius: 5px;
}
input::placeholder {
  color: #fff;
}
.weather__search {
  position: relative;
}

.weather__search i {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 15px;
  color: #fff;
}

.weather__units {
  font-size: 1.5rem;
}

.weather__units span {
  cursor: pointer;
}

.weather__units span:first-child {
  margin-right: 0.5rem;
}
.weather__body {
  text-align: center;
  margin-top: 3rem;
}


.weather__datetime {
  margin-bottom: 2rem;
  font-size: 14px;
}

.weather__forecast {
  background: #2e2e2e;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}

.weather__icon img {
  
  width: 100px;
  object-fit:cover;
}

.weather__temperature {
  font-size: 1.75rem;
}

.weather__minmax {
  display: flex;
  justify-content: center;
}

.weather__minmax p {
  font-size: 14px;
  margin: 0.5rem;
}
.weather__info {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 210px));
  grid-gap: 1rem;
  margin-top: 3rem;
}

.weather__card {
  background: #2e2e2e;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}
.weather__card .weather__card_date{
  
  font-size: 1.5rem;

}
.weather__card_icon img{
  width: 100px;
  object-fit:cover;
}
.weather__card_temperature{
  font-size: 1.75rem;
}
.weather__card_minmax{
  display: flex;
  justify-content: center;
}
.weather__card_minmax p{
  font-size: 14px;
  margin: 0.5rem;
}

@media(max-width: 936px){
  .container {
      width: 90%;
  }

  .weather__header {
      flex-direction: column;
  }

  .weather__units {
      margin-top: 1rem;
  }
}
