@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container {
  background: #171717;
  color: #fff;
  padding: 2rem;
  width: 60%;
  margin: 4rem auto;
  border-radius: 10px;
}
.weather__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input {
  border: none;
  background: #1e1e1e;
  outline: none;
  color: #fff;
  padding: 0.5rem 2.5rem;
  border-radius: 5px;
}
input::placeholder {
  color: #fff;
}
.weather__search {
  position: relative;
}

.weather__search i {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 15px;
  color: #fff;
}

.weather__units {
  font-size: 1.5rem;
}

.weather__units span {
  cursor: pointer;
}

.weather__units span:first-child {
  margin-right: 0.5rem;
}
.weather__body {
  text-align: center;
  margin-top: 3rem;
}